.form {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}

.heading {
  text-align: center;
  margin-bottom: 44px;
}

.formRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.formGroup_right {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.formGroup_right input {
  padding: 15px 15px;
}

.formGroup_left input {
  padding: 15px 15px;
}

.formGroup_left {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.input {
  padding: 10px;
  border: 1px solid #eceff2;
  border-radius: 4px;
  text-align: left;
  background-color: #f5f8fa;
}

.formGroupCheckbox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 30px;
}

.formGroupCheckbox label {
  margin-left: 10px;
}

.checkbox {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.error {
  color: #ff0000;
  font-size: 12px;
  margin-top: 4px;
}

.errorBorder {
  border-color: #ff0000;
}

.submitButton {
  width: 100%;
  padding: 20px 40px;
  border: none;
  border-radius: 4px;
  background-color: #2a6cea;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submitButton:hover {
  background-color: #397dff;
}
