.QuestionsAnswers_container {
  max-width: 1008px;
  margin: 0 auto;
  min-height: 792px;
  margin-top: 80px;
}

.QuestionsAnswers_heading {
  display: flex;
  justify-content: center;
  margin-bottom: 2.3rem;
}

.QuestionsAnswers_questions__item {
  padding: 25px 15px;
  border-bottom: 1px solid #ECEFF2;
}

.questions_item__header {
  font-size: 18px;
  color: #191c1f;
  font-weight: 600;
  line-height: 32px;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
  
}


.questions_header__items {
  display: flex;
  
}

.questions_item__header:hover {
  color: #397dff;
}

.questions_item__header:hover ~ .icon .path {
  fill: #397dff;
}

.questions_item__header:hover ~ .icon .circle {
  stroke: #397dff;
}

.questions_item__collapse {
  height: 0;
  overflow: hidden;
  transition: height 0.3s;
}

.questions_item__collapse_open {
  height: auto;
}

.questions_item__body {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #5e646a;
}

.icon {
  transition: fill 0.3s ease, stroke 0.3s ease;
}

.path {
  fill: #191c1f;
  transition: 0.3s;
}

.circle {
  transition: 0.3s;
  stroke: #191c1f;
}





